{% extends 'main/base.html' %}


{% block title %}
    TtT home
{% endblock %}

{% block name %}
    Home
{% endblock %}

{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg", name="getDevices", value="save">Get Devices</button>
    </form>

    <br><br>
    
    <ul>
        {% for device in devices %}
            <!-- <li>{{device.name}}</li> -->
            <h2><a href="/{{device.id}}">{{device.name}}</a></h2>
        {% endfor %}
    </ul>
{% endblock %}